.challenge {
    padding-left: 130px;
    padding-right: 130px;
}

.ans {
    margin-left: 9rem;
}


.lineBack {
    margin-left: 130px;
    background-color: #7AADD9;
}


#result {
    border: 1px solid lightgray;
    width: 75%;
    margin: 0 auto;
    
}

h6 {
    color: gray;
}

#questionInvis {
    visibility: hidden;
}

#idVisibility {
    display: none;
}